* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Inter", sans-serif;
    }
    
    body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(45deg, #0D469F, #0B2957, #0B0D12);
            overflow: hidden;
            position: relative;
        }
    
    .dashboard-container {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    
    .dashboard-header {
      padding: 15px 32px 15px 32px;
      border-radius: 6px;
      background-color: rgba(24, 24, 27, 0.5);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      height: 10%;
      border-width: medium;
      
    }
    
    .dashboard-title {
      font-size: 24px;
      font-weight: bold;
      color: white;
      
    }
    
    .divider {
      margin: 20px 0;
      height: 1px;
      background-color: #18181b;
      border: none;
    }
    
    .content-container {
      padding: 32px;
      border-radius: 6px;
      background-color: rgba(24, 24, 27, 0.5);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    .group-item {
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 12px;
      border: 1px solid #d6d3d1;
      background-color: rgba(23, 23, 23, 0.6);
    }
    
    .group-item-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    
    .group-name {
      font-size: 24px;
      font-weight: bold;
      color: white;
    }
    
    .action-button {
      padding: 6px 8px;
      font-size: 12px;
      color: white;
      background-color: #2563eb;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      max-width: 150px; /* Максимальная ширина кнопки */
      width: 100%; /* Чтобы кнопка занимала всю доступную ширину до max-width */
    }

    .action-button_bottom {
      padding: 6px 8px;
      font-size: 12px;
      color: white;
      background-color: #2563eb;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      width: 100%; /* Чтобы кнопка занимала всю доступную ширину до max-width */
    }
    
    .action-buttons-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .toggle-button{
            background-color: transparent;
            border: none;
            
            
    }
    
    /* Responsive styles */
    @media (max-width: 768px) {
      .dashboard-card {
        max-width: 400px;
        width: 90%;
      }
    }
    
    @media (max-width: 640px) {
      .dashboard-card {
        padding: 20px;
        width: 95%;
      }
    
      .dashboard-header {
        flex-direction: column;
        gap: 16px;
      }
    
      .group-item-content {
        flex-direction: column;
        gap: 10px;
        text-align: center;
      }
    
      .group-action-button,
      .action-button {
        width: 100%;
      }
    }