* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #121212;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dashboard-card {
  padding: 32px;
  border-radius: 6px;
  background-color: rgba(24, 24, 27, 0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.divider {
  margin: 20px 0;
  height: 1px;
  background-color: #18181b;
  border: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #d6d3d1;
  background-color: rgba(23, 23, 23, 0.6);
}

.group-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.group-name {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.action-button {
  padding: 10px;
  font-size: 12px;
  color: white;
  background-color: #2563eb;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .dashboard-card {
    max-width: 400px;
    width: 90%;
  }
}

@media (max-width: 640px) {
  .dashboard-card {
    padding: 20px;
    width: 95%;
  }

  .dashboard-header {
    flex-direction: column;
    gap: 16px;
  }

  .group-item-content {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .group-action-button,
  .action-button {
    width: 100%;
  }
}
